@use "sass:math";
@use "variables" as *;

$utilities: (
  "font-size": (
    "prefix": "fs",
    "values": (
      "xs": $font-size-xs,
      "sm": $font-size-sm,
      "md": $font-size-md,
      "default": $base-font-size,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
    ),
  ),
);

// generate utility classes
@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
