@use "functions" as *;

// Colors
// Primary

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);

// Neutral
$white: #ffffff;
$dark-blue: hsl(249, 10%, 26%);
$gray-blue: hsl(246, 25%, 77%);
$dark-gray-blue: hsl(246, 8%, 46%);

// Colors Pallete
$colors: (
  "red": $red,
  "green": $green,
  "blue": $blue,
  "white": $white,
  "dark-blue": $dark-blue,
  "gray-blue": $gray-blue,
  "dark-gray-blue": $dark-gray-blue,
);

// Font size
$base-font-size: rem(16) !default;
$font-size-xs: rem(11) !default;
$font-size-sm: rem(12) !default;
$font-size-md: rem(14) !default;
$font-size-lg: rem(28) !default;
$font-size-xl: rem(51) !default;

// Border Radius
$base-border-radius: rem(8) !default;

// Box-Shadow
$base-box-shadow: 0px 10px 25px rgba($blue, 0.1), 0px 10px 25px rgba($blue, 0.1);
